# Ignore Node
###################
server/node_modules
.tmp
npm-debug.log

# Ignore Bower
###################
website/bower_components
website/build


# mongo db
###################
#Don't commit Mongo Database files
*.lock
*.0
*.1
*.ns
journal

