

div.sortable {
	min-height:20px;
}


form {
    margin:2pt;
}

form.newListForm {
    margin:-1pt;
    padding-top:20pt;
    padding-bottom:50pt;
}

div.boardSummary {

}

div.board {
    padding-left:10pt;
}

button.removebutton {
	float: right;
}

button.removeboardbutton {
	float: right;
}

button.removelistbutton {
	float: right;
}

div.well .removebutton {
    display: none;
}
div.well:hover .removebutton {
    display: inline;
}

div.list .removelistbutton {
	display: none;
}

div.list:hover .removelistbutton{
	display: inline;
}

div.boardSummary .removeboardbutton {
	display: none;
}

div.boardSummary:hover .removeboardbutton{
	display: inline;
}
