div.list {
    width:300px;
    border:1px solid;
    padding:5px;
    margin:5px;
}

div.item {
    background-color:green;
    padding-top:1pt;
    padding-bottom:1pt;
    padding-left:5pt;
    margin:2pt;
}

form {
    margin:2pt;
}

form.newListForm {
    margin:-1pt;
    padding-top:20pt;
    padding-bottom:50pt;
}

div.boardSummary {
    background-color:green;
    margin:5px;
}

div.board {
    padding-left:10pt;
}

button.removebutton {
	float: right;
}

button.removelistbutton {
	float: right;
}

div.item .removebutton {
    display: none;
}
div.item:hover .removebutton {
    display: inline;
}

div.list .removelistbutton {
	display: none;
}

div.list:hover .removelistbutton{
	display: inline;
}
